Flask==2.3.2
Flask-SocketIO==5.3.2 # Or gevent, depending on your choice of async mode
gunicorn==20.1.0  # Or any version that is compatible with your setup
dnspython==2.2.1
pip install --force-reinstall eventlet==0.33.3


