<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
</head>
<style>
    body{
        background-image: url("img.jpg");
    }
    form{
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <form method="post">
        <h3>Enter the chat room</h3>
        <div class="inp">
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter your name" required>
        </div>
        <div class="join">
            <label>Room Code</label>
            <input type="text" name="code" placeholder="Room code">
            <button type="submit" name="join">Join a room</button>
        </div>
        <button type="submit" name="create">Create a room</button>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
